{% load static %}

<div style="background: url({% static 'src/whiteboard/right.png' %}); grid-column: 3; grid-row: 2; background-size: 100% 100%;"></div>
<div style="background: url({% static 'src/whiteboard/bottom left.png' %}); grid-column: 1; grid-row: 3; background-size: 100% 100%;"></div>
<div style="background: url({% static 'src/whiteboard/bottom.png' %}); grid-column: 2; grid-row: 3; background-size: 100% 100%;"></div>
<div style="background: url({% static 'src/whiteboard/bottom right.png' %}); grid-column: 3; grid-row: 3; background-size: 100% 100%;"></div>