<div style="display: flex; flex-direction: column; width: 192px; height: calc(100vh - 63px); background: rgb(141, 141 ,141);">
    <a class="sideBarLink"><span class="icon-emoji">🎰</span> Dashboard</a>
    <a class="sideBarLink"><span class="icon-emoji">⛳</span> Start Session</a>
    <a class="sideBarLink"><span class="icon-emoji">📈</span> Analytics</a>
    <a class="sideBarLink"><span class="icon-emoji">⚙</span> Settings</a>
    <div style="flex-grow: 3;"></div>
    <div class="box" style="background: white; margin: 10px;">
        <div class="box-margin">
            <h4 style="margin: 0px;">Aldrin Cheung</h4>
            <p class="sub" style="padding: 0px;">talk to yourself <span class="info-pop" style="">i</span></p>
            <div class="divider"></div>
            <div class="spacer"></div>
            <p>Hello, Aldrin. What do you want to accomplish today? What goal do you have in mind?</p>
        </div>
    </div>
</div>