{% load static %}
<script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
<div style="display: flex; flex-direction: column; width: 192px; min-width: 192px; height: calc(100vh - 63px); background: rgb(141, 141 ,141);">
    <a class="sideBarLink" href="{% url 'courses:index' %}"><span class="icon-emoji">🎰</span> Dashboard</a>
    <a class="sideBarLink" href="{% url 'courses:session' %}"><span class="icon-emoji">⛳</span> Start Session</a>
    <a class="sideBarLink" href="{% url 'courses:analytics' %}"><span class="icon-emoji">📈</span> Analytics</a>
    <a class="sideBarLink" href="{% url 'courses:integrations' %}"><span class="icon-emoji">🔗</span> Integration</a>
    <a class="sideBarLink" href="{% url 'courses:list' %}"><span class="icon-emoji">📝</span> Edit Courses</a>
    {% comment %} <a class="sideBarLink" href="{% url 'courses:settings' %}"><span class="icon-emoji">⚙</span> Settings</a> {% endcomment %}
    <div style="flex-grow: 3;"></div>
    {% comment %} <div class="box" style="background: white; margin: 10px;">
        <ul style="list-style-type: none;">
            <li>wpm: 99wpm</li>
            <li>time spent: 4h</li>
        </ul>
        <div id="increaseGauge"></div>
    </div> {% endcomment %}
</div>