{% extends 'base.html' %}

{% load static %}
{% block page-title %}Welcome to Study Tracker!{% endblock %}

{% block content %}

    <div style="margin-left: 10px; margin-top: 10px">
        <a href="{% url 'customAuth:handle_signup' %}" class="btn btn-primary"
           style="font-size: 19px; color: #50b150;">Signup</a>
    </div>

    <div style="margin-left: 10px; margin-top: 10px">
        <a href="{% url 'customAuth:handle_login' %}" class="btn btn-primary"
           style="font-size: 19px; color: #50b150;">Login</a>
    </div>


{% endblock %}


