<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form action="{% url 'customAuth:handle_login' %}" method="post" class="form-example">
    {% csrf_token %}
    <div class="form-example">
        <label for="username">Enter your username: </label>
        <input type="text" name="username" id="username" required>
    </div>
    <div class="form-example">
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="form-example">
        <input type="submit" value="Login">
    </div>
</form>

</body>
</html>