{% extends 'base.html' %}
{% load static %}
{% block page-title %}Study Tracker (UCSD){% endblock %}
{% block content %}
{% include 'partials/_sidebar.html' %}
<script type="text/javascript" src="{% static 'courses/dashboard.js' %}"></script>

<div style="flex-grow: 20; overflow-x: hidden; position: relative;">

{% include 'partials/_postitBackground.html' %}

<div style="position: absolute; width: 100%; height: 100%; padding: 0px 30px;">
    <div class="" id="whiteboard" style="display: grid; grid-template-columns: 14px auto 14px; grid-template-rows: 14px auto 14px; width: 100%; margin-top: 100px;">
        {% include 'partials/_preWhiteboard.html' %}

            <div style="padding: 13px; grid-column: 2; grid-row: 2; background: #fbfbfb; display: flex; flex-direction: row; position: relative;">
                <div style="display: flex; flex-wrap: wrap; flex-direction: column; padding: 8px;">
                    {% if courses %}
                        <ul class="control-group" style="width: 180px; list-style-type: none; padding-left: 0px; margin: 0px;">
                            {% for c in courses %}
                                <label class="control control-checkbox">
                                    {{ c.course_name }}
                                        <input type="checkbox" checked="checked" />
                                    <div class="control_indicator"></div>
                                </label>
                            {% endfor %}
                        </ul>
                        <a style="margin: 0px; padding-right: 3px;" class="remarks" href="{% url 'courses:list' %}">edit</a>
                    {% else %}
                        <label>You don't have any courses yet</label>
                    {% endif %}

                    <div class="btn-group" role="group" style="margin-top: 30px;">
                        <script type="text/javascript" src="{% static 'courses/loadGraphs.js' %}"></script>
                        <input onchange="toggleToday()" type="checkbox" class="btn-check" name="btnGraphType" id="btnTodayGraph" autocomplete="off" checked>
                        <label class="btn btn-outline-primary btn-sm" for="btnTodayGraph">Today</label>
                        
                        <input onchange="toggleWeek()" type="checkbox" class="btn-check" name="btnGraphType" id="btnWeekGraph" autocomplete="off" checked>
                        <label class="btn btn-outline-primary btn-sm" for="btnWeekGraph">Week</label>

                        {% comment %} 
                        <input onchange="showMonth()" type="checkbox" class="btn-check" name="btnGraphType" id="btnMonthGraph" autocomplete="off">
                        <label class="btn btn-outline-primary btn-sm" for="btnMonthGraph">Month</label>
                        {% endcomment %}
                    </div>
                </div>
                <div style="display: flex; justify-content: space-around; flex-grow: 3; flex-wrap: wrap;">
                    <div class="box dashboard-graphWeek" id="graphWeek" style="padding: 10px 16px 0px 0px; display: flex; flex-direction: column; max-height: 250px; max-width: 800px; min-width: 450px; width: 47%; height: 230px; margin-top: 4px;">
                        <h6 class="no-margin center" style="position: absolute; padding-left: 51px;">This week</h6>
                        <div id="weekChart" style="height: 100%;"></div>
                    </div>
                    <div class="box dashboard-graphToday" id="graphToday" style="padding: 10px 16px 0px 0px; display: flex; flex-direction: column; max-height: 250px; max-width: 800px; min-width: 450px; width: 47%; height: 230px; margin-top: 4px;">
                        <h6 class="no-margin center" style="position: absolute; padding-left: 86px;">Today</h6>
                        <div id="dayChart" style="height: 100%;"></div>
                    </div>
                </div>
                <div class="hover-grab" id="moveWhiteboard" style="position: absolute; bottom: -4px; right: 2px;"><p class="sub">✊ drag to move</p></div>
            </div>

        {% include 'partials/_postWhiteboard.html' %}
    </div>
    <div style="display: flex; width: 100%; justify-content: center; align-items: baseline; margin-top: 3px;">
        <a class="btn btn-sm" href="{% url 'courses:add_course' %}">Add a course</a>
        <a class="btn btn-sm" href="{% url 'courses:list' %}">List my courses</a>
        <a class="btn btn-sm" href="{% url 'courses:start_study_session' %}">Start a study session</a>
    </div>
    <div style="display: flex; width: 100%; justify-content: center; align-items: baseline;">
        {% if courses %}
            <p class="sub">Quick Links:</p>
            {% for c in courses %}
                <a style="margin: 0px 10px;" href="/courses/{{ c.id }}/">{{ c.course_name }}</a>
            {% endfor %}
        {% else %}
            <p>You have no courses yet.</p>
        {% endif %}
    </div>


</div>
</div>

{% endblock %}

