{% extends 'base.html' %}
{% load static %}
{% block page-title %}Study Tracker (UCSD){% endblock %}
{% block content %}
{% include 'partials/_sidebar.html' %}
<div style="flex-grow: 20; /* display: flex; flex-direction: column; */ overflow-x: hidden;">
    <div class="" style="display: grid; grid-template-columns: 14px auto 14px; grid-template-rows: 14px auto 14px; width: 100%; margin-top: 100px;">
        <div style="background: url({% static 'src/top left.png' %}); grid-column: 1; grid-row: 1; background-size: 100% 100%;"></div>
        <div style="background: url({% static 'src/top.png' %}); grid-column: 2; grid-row: 1; background-size: 100% 100%;"></div>
        <div style="background: url({% static 'src/top right.png' %}); grid-column: 3; grid-row: 1; background-size: 100% 100%;"></div>
        <div style="background: url({% static 'src/left.png' %}); grid-column: 1; grid-row: 2; background-size: 100% 100%;"></div>
        <div style="padding: 13px; grid-column: 2; grid-row: 2; background: #fbfbfb; display: flex; flex-direction: row;">
            <ul class="control-group" style="width: 180px; list-style-type: none; padding-left: 20px;">
                {% if courses %}
                    {% for c in courses %}
                        <label class="control control-checkbox">
                            {{ c.course_name }}
                                <input type="checkbox" checked="checked" />
                            <div class="control_indicator"></div>
                        </label>
                    {% endfor %}
                {% else %}
                    <label class="control control-checkbox">
                        You don't have any courses yet
                    </label>
                {% endif %}

                <div class="btn-group" role="group">
                    <input onchange="showToday()" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary btn-sm" for="btnradio1">Today</label>
                    
                    <input onchange="showWeek()" type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary btn-sm" for="btnradio3">This Week</label>
                </div>
            </ul>
            <div style="display: flex; justify-content: space-around; flex-grow: 3; flex-wrap: wrap;">
                <div class="box" id="graphWeek" style="padding: 10px 16px 0px 0px; display: flex; flex-direction: column;">
                    <h4 class="no-margin center">This week</h4>
                    <div id="weekChart" style="height: 250px; width: 600px;"></div>
                </div>
                <div class="box" id="graphToday" style="padding: 10px 16px 0px 0px; display: flex; flex-direction: column;">
                    <h4 class="no-margin center">Today</h4>
                    <div id="timeSpent" style="height: 250px; width: 600px;"></div>
                </div>
            </div>
        </div>
        <div style="background: url({% static 'src/right.png' %}); grid-column: 3; grid-row: 2; background-size: 100% 100%;"></div>
        <div style="background: url({% static 'src/bottom left.png' %}); grid-column: 1; grid-row: 3; background-size: 100% 100%;"></div>
        <div style="background: url({% static 'src/bottom.png' %}); grid-column: 2; grid-row: 3; background-size: 100% 100%;"></div>
        <div style="background: url({% static 'src/bottom right.png' %}); grid-column: 3; grid-row: 3; background-size: 100% 100%;"></div>
    </div>
    <div class="" style="background:rgb(141, 141 ,141); width: 300px; height: 200px; position: absolute; bottom: 0px; right: 0px;">
    </div>


    <div>
        <h1>Your Courses</h1>
        {% if courses %}
            <ul>
            {% for c in courses %}
                <li><a href="/courses/{{ c.id }}/">{{ c.course_name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You have no courses yet.</p>
        {% endif %}

        <br>
        <a class="btn btn-primary" href="{% url 'courses:add_course' %}">Add a course</a>
        <br>
        <a class="btn btn-primary" href="{% url 'courses:start_study_session' %}">Start a study session</a>
    </div>

</div>

</body>

<script>
    function showToday(){
        document.getElementById("graphWeek").style.display = "block";
        document.getElementById("graphToday").style.display = "none";
    }
    function showWeek(){
        document.getElementById("graphWeek").style.display = "none";
        document.getElementById("graphToday").style.display = "block";
    }

    window.addEventListener("load", () => {
        console.log("hge");
        var chart = bb.generate({
        data: {
            columns: [
            ["CAT 1", 0, 2.00, 2.00, 4.00, 0, 2.50, .10, .10],
            ["math 18", 1.30, 1.00, 0, 2.00, 0, 5.0, .10, .10],
            ["MATH 20c", 0, 2.00, 2.00, 0, 2.50, 2.50, 10, .10],
            ["cse 11", 1.30, 1.00, 0, 2.00, 0, 5.0, 1.0, .10],
            ["total", 2.80, 6.00, 4.00, 8.00, 2.30, 6.00, .40, .40]
            ],
            type: "bar", // for ESM specify as: bar()
            types: {
                "total": "spline"
            },
            groups: [
            ["CAT 1",
        "math 18",
        "MATH 20c",
        "cse 11",
            ]
            ],
        colors:{
        },
        },
        grid: {
            y: {
            lines: [
                {
                value: 0
                }
            ]
            }
        },
        bindto: "#weekChart"
        });

        
        var chart = bb.generate({
        data: {
            order: null,
            columns: [
            ["transparent0", 10, 9, 10.5, 11],
            ["gap1", 0, 2.00, 2.00, 4.00],
            ["transparent1", 1.30, 1.00, 0, 2.00],
            ["gap3", 0, 2.00, 2.00, 0],
            ["gap4", 1.30, 1.00, 0, 2.00],
            ["transparent2", 1.30, 1.00, 0, 2.00],
            ["gap5", 1.30, 1.00, 0, 2.00],
            ["transparent3", 5, 1.00, 0, 2.00],
            ],
            type: "bar", // for ESM specify as: bar()
            groups: [
            ["gap1",
             "gap2",
             "gap3",
             "gap4",
             "gap5",
             "transparent1",
             "transparent2",
             "transparent3",
             "transparent0",
            ]
            ],
        colors:{
            "transparent1": "#00000000",
            "transparent2": "#00000000",
            "transparent3": "#00000000",
            "transparent0": "#00000000",
        },
        },
        grid: {
            y: {
            lines: [
                {
                value: 0
                }
            ]
            }
        },
        axis:{
            rotated: true,
            x:{
                type: "category",
                categories: [
                    "cat1",
                    "math 18",
                    "cse 11",
                    "math 20c",
                ]
            },
        },
        legend: {
            show: false
        },
        bindto: "#timeSpent"
        });



    })
</script>

{% endblock %}

