{% extends 'base.html' %}
{% load static %}
{% block page-title %}Study Tracker (UCSD){% endblock %}
{% block content %}
    <script type="text/javascript" src="{% static 'courses/dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'courses/loadGraphs.js' %}"></script>
    <script type="text/javascript" src="{% static 'courses/class_filter_checkbox.js' %}"></script>

    {% include 'partials/_sidebar.html' %}
    <div style="flex-grow: 20; overflow-x: hidden; position: relative;">
        {% include 'partials/_postitBackground.html' %}
        <div style="padding: 40px; padding-left: 7vw; max-width: 900px;">
            <div style="padding-left: 70px; margin-bottom: 40px;">
                <h1>Your Courses</h1>
                {% if courses %}
                    <ul style="margin: 40px 0px 30px 0px;">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">id</th>
                        <th scope="col">Course Name</th>
                        <th scope="col" style="width: 50px;">Edit</th>
                        <th scope="col" style="width: 50px;">Archive</th>
                        <th scope="col" style="width: 50px;">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in courses %}
                            <tr style="font-size: 18px;">
                            <th scope="row">{{c.id}}</th>
                            <td><a href="/courses/{{ c.id }}/">{{ c.course_name }}</a></td>
                            <td style="text-align: center;"><a href="{% url 'courses:detail' c.id %}?skipToEdit=true" class="btn btn-icon">📝</a></td>
                            <td style="text-align: center;"><button class="btn btn-icon">✉</button></td>
                            <td style="text-align: center;"><button onclick="prepareForDelete({{c.id}});" class="btn btn-icon">➖</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    </ul>
                {% else %}
                    <p>You have no courses yet.</p>
                {% endif %}

                <div>
                    <a class="btn btn-primary" href="{% url 'courses:add_course' %}" style="display: inline-block; ">➕ Add a course</a> 
                    <a class="btn btn-primary" href="{% url 'courses:session' %}" style="float: right;">Start a study session</a>
                </div>
            </div>

            <div style="display: flex; flex-direction: row;">
                <div class="box dashboard-graphToday" id="graphToday" style="position: relative; padding: 10px 16px 0px 16px; display: flex; flex-direction: row; max-height: 250px; max-width: 800px; min-width: 450px; width: 47%; height: 230px; margin-top: 4px;">
                    {% comment %} <h6 class="no-margin center" style="position: absolute; right: 20px;">Time Spent</h6> {% endcomment %}
                    <h6 class="no-margin center" style="position: absolute; padding-left: 2px;">Time Spent</h6>
                    <div id="coursePiChart-year" style="height: 100%; flex-grow: 8; display: flex; justify-content: center; align-items: center;"></div>
                    <div id="coursePiChart-month" style="height: 100%; flex-grow: 9; display: flex; justify-content: center; align-items: center;"></div>
                    <div id="coursePiChart-week" style="height: 100%; flex-grow: 10; display: flex; justify-content: center; align-items: center;"></div>
                </div>
                <div style="min-height: 10px; min-width: 20px;"></div>
                <div class="box dashboard-graphToday" id="graphToday" style="padding: 10px 16px 0px 0px; display: flex; flex-direction: column; max-height: 250px; max-width: 800px; min-width: 450px; width: 47%; height: 230px; margin-top: 4px;">
                    <h6 class="no-margin center" style="position: absolute; padding-left: 20px;">Performance</h6>
                    <div id="skillsRadarChart" style="height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>

    
{% endblock %}


{% block models %}

<script type="text/javascript" src="{% static 'courses/list.js' %}"></script>
<div id="urlModel" class="modal">
    <!-- Modal content -->
    <div class="modal-content box">
        <div class="box-content">
            <button class="close" onclick="cancelDelete()" style="margin-top: -11px; position:relative; float:right;">&times;</button>
            <form action="{% url 'courses:delete_course' %}" method="POST">
                {% csrf_token %}
                <div style="padding-left: 20px; padding-bottom: 10px;">
                    <h4>Are you sure to delete?</h4>
                    <div class="separator"></div>
                    <p>This action cannot be undone. All the data that had been acumulated within this course would not be accessible. It will permanently delete this course from your data, and will have no reference to it anymore.</p>
                    <br/>
                    <p>You might want to considering <u>archiving</u> a course if it is just a new quater.</p>
                    <br/>
                    <p>If you really want to delete the course, please type <b id="type-to-confirm">username/course</b></p>
                    <input id="delete-course-id" name="course_id" type="number" value="" data-setting-for="" style="display: none" />
                    <input id="copy-to-confirm" name="confirm_str" type="text" placeholder="copy to confirm" value="" data-setting-for=""/>
                    <input name="next" type="text" value="/courses/list/" data-setting-for="" style="display: none" />
                </div>
                <div style="display: inline; float: right; position: relative;">
                    <button class="btn" style="margin-bottom: 7px; margin-right: 13px;" onclick="cancelDelete()">Cancel</button>
                    <button class="btn b-red" style="margin-bottom: 7px; margin-right: 13px;" type="submit">Confirm & Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 613px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
{% endblock%}
