{% extends 'base.html' %}
{% load static %}
{% block page-title %}Study Session{% endblock %}
{% block content %}
{% include 'partials/_sidebar.html' %}

<script src="{% static 'courses/session.js' %}"></script>
<div style="padding: 30px;">
    <div id="start-session-div" style="display: {% if jsData.ongoing_session %} none {% else %} block {% endif %};">
        <h1>Select a course to study for:</h1>
        {% if courses %}
            <form action="{% url 'api:api_session' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="button" value="Start" onclick="start_session();">
            </form>

            {% comment %} <form action="{% url 'courses:session' %}" method='post'>
                {% csrf_token %}

                {% for c in courses %}
                    <div>
                        <input type="radio" id="{{ c.id }}" value="{{ c.id }}">
                        <label for="{{ c.id }}">{{ c.course_name }}</label>
                        <input type="submit" value="Start">

                    </div>
                {% endfor %}

            </form> {% endcomment %}
        {% else %}
            <p>You don't have any courses yet. Create a course on your home page first.</p>
        {% endif %}
    </div>
    <div id="ongoing-session-div" style="display: {% if jsData.ongoing_session %} block {% else %} none {% endif %};">
        <h1>{{ courseName }}</h1>

        <h1 style="text-align:left;">Podormo Timer: </h1><label id="countdownTimer">25:00</label>
        <h1 style="text-align:left;">Accumulated Time: </h1><label id="countupTimer">00:00</label>
        <br>
        <button onclick="endSession()">End session</button>

        <script>
        </script>
    </div>
</div>


{% endblock %}