{% extends 'base.html' %}
{% load static %}
{% block page-title %}Study Session{% endblock %}
{% block content %}
{% include 'partials/_sidebar.html' %}

<div style="padding: 30px;">
<h1>{{ courseName }}</h1>
<p id="courseIdElem">{{ courseId }}</p>

<script src="{% static 'courses/session.js' %}"></script>
<p id="timerElement" style="text-align:center;">This text is where the timer countdown should be.</p>
<br>
<button onclick="endSession()">End session</button>

<script>
</script>

</div>
{% endblock %}