{% extends 'base.html' %}
{% load static %}
{% block page-title %}Start Study Session{% endblock %}
{% block content %}
{% include 'partials/_sidebar.html' %}

<div style="padding: 30px;">
<h1>Select a course to study for:</h1>
{% if courses %}
    <form action="{% url 'courses:session' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Start">
    </form>

{#    <form action="{% url 'courses:session' %}" method='post'>#}
{#        {% csrf_token %}#}
{##}
{#        {% for c in courses %}#}
{#            <div>#}
{#                <input type="radio" id="{{ c.id }}" value="{{ c.id }}">#}
{#                <label for="{{ c.id }}">{{ c.course_name }}</label>#}
{#                <input type="submit" value="Start">#}
{##}
{#            </div>#}
{#        {% endfor %}#}
{##}
{#    </form>#}
{% else %}
    <p>You don't have any courses yet. Create a course on your home page first.</p>
{% endif %}

</div>
{% endblock %}